.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.search {
  width: 100%;
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid #dedede;
}

section.search span.k-autocomplete .k-input {
  border: none;
  border-radius: 0;
  padding: 0 30px;
  height: 46px;
  box-sizing: border-box;
}

section.search span.k-autocomplete {
  width: 100% !important;
  border: none !important;
  background-color: transparent !important;
  box-sizing: border-box !important;
  transition: all 0s !important;
}

header div.sub_media {
  position: relative;
  top: 0;
  left: 0;
}

section.search input[type="text"] {
  width: 100%;
  height: 46px;
  border: none !important;
  outline: none;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 100%;
  line-height: 1.2em;
  box-sizing: border-box;
  text-indent: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

div.results.flex.results {
  justify-content: center;
}

section div.flex {
  box-sizing: border-box;
  display: flex;
}

div.results.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.item.poster.card div.image_content {
  width: 185px;
  background-color: #d3d3d3;
}
div.item.poster div.image_content,
div.item.backdrop div.image_content {
  height: 278px;
  line-height: 0;
}
div.item.poster.card div.info {
  width: 555px;
}

div.item.poster.card div.info {
  height: 278px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 16px 16px 16px;
  overflow: hidden;
}
div.item.card div.wrapper {
  display: flex;
}
div.results.flex div.item {
  margin: 30px;
  color: #000;
}
div.consensus.tight {
  box-sizing: border-box;
}
div.consensus .user_score_chart {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
div.consensus .user_score_chart .percent {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item.poster.card {
  display: inline-flex;
  flex-direction: row;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #e3e3e3;
  width: 700px;
}
.overview {
  text-align: left;
  color: #4d4d4d;
    font-size: 14px;
}
div.item.card div.wrapper a {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 2em;
  text-align: left;
}
section.search_results h2,
section.search_results a {
  color: #000;
}
div.item.card div.wrapper span {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1em;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}
.no-image {
  padding-top: 130px;
  width: 185px;
}

.g-tag{
  padding: 2px 5px;
  color: #fff;
  background-color:#21d07a;
  display: inline-block;
  border-radius: 3px;
  margin: 3px;
  font-size: 13px;
}

.p-tag {
  /* margin: 10px 0 10px 0px; */
  background: #282c34;
  border-radius: 25px;
  /* padding: 12px; */
  color: #fff;
  margin-right: 10px;
  width: 50px;
  text-align: center;
  justify-content: center;
}