.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.search {
  width: 100%;
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid #dedede;
}

section.search span.k-autocomplete .k-input {
  border: none;
  border-radius: 0;
  padding: 0 30px;
  height: 46px;
  box-sizing: border-box;
}

section.search span.k-autocomplete {
  width: 100% !important;
  border: none !important;
  background-color: transparent !important;
  box-sizing: border-box !important;
  transition: all 0s !important;
}

header div.sub_media {
  position: relative;
  top: 0;
  left: 0;
}

section.search input[type="text"] {
  width: 100%;
  height: 46px;
  border: none !important;
  outline: none;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 100%;
  line-height: 1.2em;
  box-sizing: border-box;
  text-indent: 0;
  padding-left: 30px;
  padding-right: 30px;
}
